@tailwind base;
@tailwind components;
@tailwind utilities;

body{

  font-family: sans-serif;
  background-image: url("./assets/Images/body-bg.png");
  background-repeat: no-repeat;
  background-size: auto;
}
.container{

  max-width: 1200px;
}
.btn-next-prev:active{
  box-shadow: rgba(0, 0, 0, 0.45) 1.5px 3.95px 2.6px;
}
.wrapper{
  width: 100%;
  overflow-x: scroll;
  gap: 20px;
  display: flex;
}
::-webkit-scrollbar{
  display: none;
}